@inherits LayoutComponentBase
<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon=@( _drawerOpen ? @Icons.Material.Filled.Close : @Icons.Material.Filled.Menu) Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="ml-3"> QuizWebApp </MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Person" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="2">
        <MudDrawerHeader Class="justify-space-between align-center">
            <MudText Typo="Typo.h5" Class="mt-1">Menu</MudText>
            <div class="mobile-closebtn">
                <MudIconButton Icon=@Icons.Material.Filled.Close Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            </div>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
@code {
    
    public static bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />